{% layout "default.liquid" %}

{% block content %}
  <div class="container my-5 py-5">
    <h1 class="h4 fw-bold mb-4 d-flex justify-content-center align-items-center text-uppercase w-75 mx-auto text-center">
      Account Recovery
    </h1>
    <div class="mx-auto" style="max-width: 460px">
      <form data-section="forgot" style="display: block">
        <div class="container-fluid">
          <p>Please provide the email address associated with your account. We will send you a one-time password via email.</p>
          <div class="input-group has-validation mb-3" data-field="username">
            <div class="form-floating">
              <input
                name="username"
                class="form-control"
                placeholder="">
              <label>Email address</label>
            </div>
            <div class="invalid-feedback" data-field-error></div>
          </div>

          <button
            type="submit"
            class="btn btn-primary mb-3 text-uppercase btn-lg w-100"
            data-loading-label="Sending OTP...">
            <span
              class="spinner-border spinner-border-sm me-1"
              style="display: none"
              data-loader></span>
            <span data-text>Continue</span>
          </button>
        </div>
      </form>

      <form data-section="reset" style="display: none">
        <div class="container-fluid">
          <p>Please type in the one-time code sent to your email address:
            <span class="fw-bold" data-placeholder="email"></span>.</p>
          <input type="hidden" name="verificationId">
          <input type="hidden" name="username">
          <div class="input-group has-validation mb-3" data-field="verificationCode">
            <div class="form-floating">
              <input
                type="text"
                name="verificationCode"
                class="form-control"
                placeholder="">
              <label>One-Time Password (OTP)</label>
            </div>
            <div class="invalid-feedback" data-field-error></div>
          </div>

          <div class="input-group has-validation mb-3" data-field="password">
            <div class="form-floating">
              <input
                type="password"
                name="password"
                class="form-control"
                placeholder="">
              <label>New Password</label>
            </div>
            <div class="invalid-feedback" data-field-error></div>
          </div>

          <div class="input-group has-validation mb-3" data-field="confirmPassword">
            <div class="form-floating">
              <input
                type="password"
                name="confirmPassword"
                class="form-control"
                placeholder="">
              <label>Confirm Password</label>
            </div>
            <div class="invalid-feedback" data-field-error></div>
          </div>

          <button
            type="submit"
            class="btn btn-primary mb-3 text-uppercase btn-lg w-100"
            data-loading-label="Verifying OTP...">
            <span
              class="spinner-border spinner-border-sm me-1"
              style="display: none"
              data-loader></span>
            <span data-text>Verify</span>
          </button>
        </div>
      </form>

      <div
        data-section="success"
        class="text-center"
        style="display: block">
        <div>
          <ion-icon class="display-1" name="checkmark-circle-outline"></ion-icon>
        </div>
        <div class="fs-3 mb-2 mt-2">Password Changed!</div>
        <div>Your account password has been reset successfully.</div>
        <div class="mt-3">
          <button class="btn btn-primary w-100 btn-lg">Back to Login</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}