{% layout "default.liquid" %}

{% block content %}
  <section class="breadcrumb">
    <ul class="breadcrumb__list flex container">
      <li>
        <a href="/" class="breadcrumb__link">Home</a>
      </li>
      <li>
        <span class="breadcrumb__link">></span>
      </li>
      <li>
        <span class="breadcrumb__link">Account</span>
      </li>
      <li>
        <span class="breadcrumb__link">></span>
      </li>
      <li>
        <span class="breadcrumb__link">Register</span>
      </li>
    </ul>
  </section>
  <div class="container my-5 py-5">
    <h1 class="h1 mb-4 d-flex justify-content-center align-items-center">Register</h1>
    <div class="mx-auto" style="width: 460px">
      {% render 'register-form.liquid' %}
    </div>
  </div>
{% endblock %}