{% layout 'base.liquid' %}

{% block body %}
  {% render 'header.liquid' store: store, categories: categories, account: account, cart: cart %}

  <div class="position-relative">
    <div
      id="alert"
      class="position-fixed w-100 start-0 alert d-none text-center fs-6 animate__animated animate__faster"
      style="top: 70px"></div>
  </div>

  {% block content %}{% endblock %}


  {% render 'footer.liquid' storeName: storeName, categories: categories %}
{% endblock %}

{% block scripts %}
  <script>
    const $categoryDropDownTrigger = document.getElementById('category-dropdown-trigger');
    const $categoryDropDown = document.getElementById('category-dropdown');

    let timeout = null;

    function openCategoryDropDown() {
      if (timeout !== null) {
        clearTimeout(timeout);
        timeout = null;
        return;
      }
      $categoryDropDownTrigger.children[0].classList.add("text-decoration-underline");
      $categoryDropDown.classList.remove('d-none', 'animate__fadeOutDown');
      $categoryDropDown.classList.add('animate__fadeInUp');
    }

    function closeCategoryDropDown(event) {
      timeout = setTimeout(() => {
        $categoryDropDownTrigger.children[0].classList.add("text-decoration-underline");
        $categoryDropDown.classList.remove('animate__fadeInUp');
        $categoryDropDown.classList.add('d-none', 'animate__fadeOutDown');
        timeout = null;
      }, 50);
    }

    $categoryDropDownTrigger.addEventListener('mouseenter', openCategoryDropDown);
    $categoryDropDownTrigger.addEventListener('mouseleave', closeCategoryDropDown);
  </script>
  <script>
    const $alert = document.getElementById('alert');

    window.registerHandler('success', (message) => {
      $alert.innerText = message;
      $alert.classList.add('alert-primary', 'bg-primary', 'animate__fadeInDown');
      $alert.classList.remove('d-none');
      setTimeout(() => {
        $alert.classList.remove('alert-primary', 'animate__fadeInDown');
        $alert.classList.add('d-none');
      }, 3000);
    });

    window.registerHandler('error', (message) => {
      $alert.innerText = message;
      $alert.classList.remove('d-none');
      $alert.classList.add('alert-danger');
      setTimeout(() => {
        $alert.classList.add('d-none');
        $alert.classList.remove('alert-danger');
      }, 3000);
    });
  </script>
{% endblock %}