{% layout 'base.liquid' %}

{% block body %}
  <div class="container h-100 w-100 d-flex justify-content-center align-items-center">
    <div class="text-center">
      <h1 class="display-1 fw-bold text-black">404</h1>
      <p>We couldn't find the page you are looking for.</p>
      <a class="btn btn-lg btn-primary px-5 text-uppercase" href="/">Go home</a>
    </div>
  </div>
{% endblock %}