<header class="position-fixed top-0 w-100 bg-white sticky-header shadow" style="z-index: 1030;">
  <nav class="navbar container px-5">

  <a class="navbar-brand h-100" href="/">
  {% if store.logo %}
    <img src="{{ store.logo }}" class="img-fluid h-100" />
  {% else %}
    <img src="https://www.iconpacks.net/icons/2/free-store-icon-2017-thumb.png" class="img-fluid h-100" />
  {% endif %}
</a>

    <div class="d-none d-lg-flex me-auto ms-5">
      <nav class="nav">
        <a href="/" class="link link-underline fs-6 fw-400 link-underline-opacity-0 link-underline-opacity-100-hover link-offset-2">
          Home
        </a>
        <a
        class="ms-4 link link-underline fs-6 fw-400 link-underline-opacity-0 link-underline-opacity-100-hover link-offset-2" href="/allproducts">
        <span>All Products</span>
      </a> 

        <div id="category-dropdown-trigger">
        
          <a
            class="ms-4 link link-underline fs-6 fw-400 link-underline-opacity-0 link-underline-opacity-100-hover link-offset-2" href="javascript:;">
            <span>Categories</span>
          </a>  
          {% render 'categories-dropdown.liquid' categories: categories  %}
        </div>
      </nav>
    </div>

    <div class="d-flex align-items-center">
      <a class="d-none d-lg-flex mt-1 btn btn-link-dark p-0 position-relative" id="searchButton" data-bs-toggle="offcanvas" data-bs-target="#searchOffcanvas">
      <ion-icon class="fs-4"  name="search-outline"></ion-icon>
    </a>
      <a href="/cart" class="d-none d-lg-flex link-dark position-relative">
        <ion-icon class="ms-4 fs-4" name="bag-outline"></ion-icon>
        {% if cart.item_count > 0 %}
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success text-white">
          {{ cart.item_count }}
        </span>
      {% endif %}
      </a>
      <div class="offcanvas offcanvas-top w-100 align-items-center" tabindex="-1" id="searchOffcanvas" style="max-height: 9rem;">
        <div class="mt-5 w-50">
          <div class="input-group">
              <input id="searchInput1" type="text" class="form-control rounded-pill" placeholder="Search for items...">
              <button class="btn btn-outline-secondary border-0 ms-2  bg-white" type="button" id="searchButton1">
                  <ion-icon class="fs-4  text-black" name="search-outline"></ion-icon>
              </button>
              <button type="button" class="btn-close mt-2 ms-4" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
      </div>
      
      </div>
      

      <!-- Desktop Menu -->
      <div class="d-none d-lg-flex">
        <a href="/account" class="link-dark position-relative">
          <ion-icon class="ms-4 mt-2" name="person-circle-outline"></ion-icon>
        </a>
      </div>

      <!-- Mobile Menu -->
      <div class="d-block d-lg-none">
        <button class="btn ms-3" data-bs-toggle="offcanvas" data-bs-target="#navbar-offcanvas">
          <ion-icon name="menu-outline"></ion-icon>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="navbar-offcanvas">
          <div class="offcanvas-header p-1">
            <button type="button" class="ms-auto btn" data-bs-dismiss="offcanvas">
              <ion-icon name="close-outline"></ion-icon>
            </button>
          </div>
          <div class="offcanvas-body pt-0">
            <a
            class="ms-2 fw-bold  link link-underline fs-6 fw-400 link-underline-opacity-0 link-underline-opacity-100-hover link-offset-2" href="/allproducts">
            <span>All Products</span>
          </a> 
            <h6 class="px-2 mt-2 fw-bold">Categories</h6>
            <ul class="nav flex-column mb-4">
              {% for category in categories %}
              <li class="nav-item">
                <a class="nav-link py-1 link-secondary active d-flex align-item-center"
                  href="/allproducts?category_id={{ category.id }}">
                  {{ category.name }}
                </a>
              </li>
              {% endfor %}
            </ul>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link py-3 px-2 link-dark active d-flex align-item-center" href="/cart">
                  <ion-icon class="me-3" name="bag-outline"></ion-icon>
                  <span>Bag</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link py-3 px-2 link-dark active d-flex align-item-center" href="/account/orders">
                  <ion-icon class="me-3" name="cube-outline"></ion-icon>
                  <span>Orders</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link py-3 px-2 link-dark active d-flex align-item-center" href="/account">
                  <ion-icon class="me-3" name="person-circle-outline"></ion-icon>
                  <span>Account</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link py-3 px-2 btn btn-link-dark p-0 active d-flex align-item-center" id="searchButton" data-bs-toggle="offcanvas" data-bs-target="#searchOffcanvas">
                <ion-icon class="fs-4 me-3"  name="search-outline"></ion-icon>
                  <span>Search</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>

</header>
<script>
document.addEventListener('keydown', function(e) {
  if (e.key === 'ArrowDown' || e.key === 'ArrowUp') {
    e.preventDefault();
    navigateResults(e.key);
  } else if (e.key === 'Enter') {
    e.preventDefault();
    const selectedResult = searchResults.getElementsByTagName('li')[activeResult];
    if (selectedResult) {
      document.value = selectedResult.textContent;
      searchResults.style.display = 'none';
      const offcanvas = new bootstrap.Offcanvas(document.getElementById('searchOffcanvas'));
      offcanvas.hide();
    }
  }
});
document.addEventListener('DOMContentLoaded', function() {
  function handleSearchInput(searchInputId, searchButtonId, customSearchURL) {
    document.getElementById(searchButtonId).addEventListener('click', function() {
      var keyword = document.getElementById(searchInputId).value;
      if (keyword.trim() !== '') {
        var newURL = customSearchURL  + encodeURIComponent(keyword);
        window.location.href = newURL;
      }
    });
  }

  handleSearchInput('searchInput1', 'searchButton1','/allproducts?keyword=');
});

document.addEventListener('DOMContentLoaded', function() {
  var header = document.querySelector('.sticky-header');
  var lastScrollY = window.scrollY;
  window.addEventListener('scroll', function() {
    var currentScrollY = window.scrollY;

    if (currentScrollY > lastScrollY) {
      header.classList.add('sticky');
    } else {
      header.classList.remove('sticky');
    }

    lastScrollY = currentScrollY;
  });
});



</script>