<form id="register-form" class="container-fluid">
  <div class="mb-3">
    <label class="form-label">First name</label>
    <input
      type="text"
      value="Nazar"
      name="first_name"
      class="form-control form-control-lg">
  </div>
  <div class="mb-3">
    <label class="form-label">Last name</label>
    <input
      type="text"
      name="last_name"
      value="A"
      class="form-control form-control-lg">
  </div>
  <div class="mb-3">
    <label class="form-label">Email address</label>
    <input
      type="text"
      name="email"
      class="form-control form-control-lg">
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input
      name="password"
      type="text"
      class="form-control form-control-lg">
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary text-uppercase btn-lg w-100">Create account</button>
  </div>
  <div class="mb-3">
    <span>Already have an account?</span>
    <a href="/account/login" class="link-primary link-underline-opacity-0 link-underline-opacity-100-hover link-underline link-offset-2">Log In</a>
  </div>
</form>